@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@-webkit-keyframes hidden {
  99% {
    position: relative;
    left: 0px;
  }
  100% {
    position: absolute;
    left: -5000px;
  }
}
@keyframes hidden {
  99% {
    position: relative;
    left: 0px;
  }
  100% {
    position: absolute;
    left: -5000px;
  }
}
@-webkit-keyframes rotation {
  to {
    transform: rotate(4turn);
  }
}
@keyframes rotation {
  to {
    transform: rotate(4turn);
  }
}
@-webkit-keyframes changeColorBorder {
  0% {
    border-right-color: #FF79DA;
    border-bottom-color: #FF79DA;
    border-left-color: #FF79DA;
  }
  33% {
    border-right-color: #9356DC;
    border-bottom-color: #9356DC;
    border-left-color: #9356DC;
  }
  66% {
    border-right-color: #FF79DA;
    border-bottom-color: #FF79DA;
    border-left-color: #FF79DA;
  }
  100% {
    border-right-color: #9356DC;
    border-bottom-color: #9356DC;
    border-left-color: #9356DC;
  }
}
@keyframes changeColorBorder {
  0% {
    border-right-color: #FF79DA;
    border-bottom-color: #FF79DA;
    border-left-color: #FF79DA;
  }
  33% {
    border-right-color: #9356DC;
    border-bottom-color: #9356DC;
    border-left-color: #9356DC;
  }
  66% {
    border-right-color: #FF79DA;
    border-bottom-color: #FF79DA;
    border-left-color: #FF79DA;
  }
  100% {
    border-right-color: #9356DC;
    border-bottom-color: #9356DC;
    border-left-color: #9356DC;
  }
}
@-webkit-keyframes showing {
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes showing {
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes show {
  99% {
    position: absolute;
  }
  100% {
    position: static;
  }
}
@keyframes show {
  99% {
    position: absolute;
  }
  100% {
    position: static;
  }
}
@-webkit-keyframes showUnderline {
  to {
    transform: scaleX(1);
  }
}
@keyframes showUnderline {
  to {
    transform: scaleX(1);
  }
}
@-webkit-keyframes showHeartGradually {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  /*from{ background: linear-gradient(to top, $secondary-color 0%, $primary-color 0%, transparent);}
  to{ background: linear-gradient(to top, $secondary-color, $primary-color 100%);}*/
}
@keyframes showHeartGradually {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  /*from{ background: linear-gradient(to top, $secondary-color 0%, $primary-color 0%, transparent);}
  to{ background: linear-gradient(to top, $secondary-color, $primary-color 100%);}*/
}
@-webkit-keyframes rotationCoche {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: rotate(360deg) translateX(0);
  }
}
@keyframes rotationCoche {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: rotate(360deg) translateX(0);
  }
}
/*
    voir le problème des fonts
*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #333;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  position: relative;
}

h1, h2, h3 {
  font-family: "Shrikhand", cursif, sans-cerif;
  font-weight: lighter;
}

h2 {
  font-size: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

strong {
  font-weight: bold;
}

.card {
  box-shadow: 1px 5px 5px lightgrey;
}

a, a:visited {
  text-decoration: none;
  color: #333;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

button:not(.icons) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  align-self: center;
  box-shadow: 0 2px 4px 0px #a2a0a0;
  transition: box-shadow 0.5s;
}
button:not(.icons):hover {
  background-image: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 2px 4px 3px #3c3a3a;
  font-weight: bold;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .step-container .step:nth-child(2) {
    align-self: center;
  }
  .step-container .step:first-child {
    align-self: flex-start;
  }
}
.step-container .step {
  width: calc(100% - 0.5rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f2f2;
  border-radius: 30px;
  padding: 2rem 0;
  margin: 10px 0;
  transition: background-color 0.3s;
}
@media screen and (min-width: 768px) {
  .step-container .step {
    width: 40%;
  }
}
.step-container .step p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  position: relative;
  left: -0.5rem;
}
.step-container .step p span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
.step-container .step p i {
  margin: 0 1rem;
  color: gray;
  transition: color 0.3s;
}
.step-container .step:hover {
  background-color: #f4eefc;
}
.step-container .step:hover i {
  color: #9356DC;
}

.restaurant {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  margin-bottom: 20px;
  background-color: white;
  position: relative;
}
@media screen and (min-width: 576px) {
  .restaurant {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .restaurant {
    width: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .restaurant {
    width: 23%;
  }
}
.restaurant a {
  width: 100%;
  height: 100%;
}
.restaurant a img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.restaurant a .description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 10px;
}
.restaurant a .description div {
  display: flex;
  flex-direction: column;
}
.restaurant a .description div .description-title {
  font-weight: bold;
}
.restaurant a .description div p, .restaurant a .description div h3 {
  margin: 2px;
}
.restaurant .etiquette {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99E2D0;
  font-weight: bold;
  padding: 0.5em 1em;
  font-size: 0.7em;
  color: #2c9c81;
}
.restaurant .icons {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 10px;
  position: absolute;
  bottom: 30px;
  right: 10px;
}
.restaurant .icons .fas {
  display: none;
}
.restaurant .icons:hover {
  transform-origin: bottom;
  -webkit-animation: showHeartGradually 1s 0s forwards;
          animation: showHeartGradually 1s 0s forwards;
}
.restaurant .icons:hover .fas {
  display: inline;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant .icons:hover .far {
  display: none;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: white;
  overflow: hidden;
  transform-origin: top;
  -webkit-animation: hidden 2s 0s forwards;
          animation: hidden 2s 0s forwards;
}
.loading-container p {
  font-size: 2rem;
  color: #9356DC;
}
.loading-container .loading {
  width: 5rem;
  height: 5rem;
  border: 5px solid;
  border-top-color: transparent;
  border-right-color: #FF79DA;
  border-bottom-color: #FF79DA;
  border-left-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: rotation 4s 0s linear, changeColorBorder 3s 0s linear;
          animation: rotation 4s 0s linear, changeColorBorder 3s 0s linear;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 1rem;
  background-color: #353434;
  color: white;
}
footer h2 {
  margin-bottom: 20px;
  font-family: "Shrikhand", cursif, sans-cerif;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  footer h2 {
    text-align: center;
  }
}
footer ul {
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
footer ul li {
  list-style: none;
  margin-bottom: 10px;
  color: white;
  font-size: 0.8rem;
}
footer ul li a {
  color: white;
}
footer ul li a:visited {
  color: white;
}
footer ul li i {
  margin-right: 5px;
  width: 20px;
  color: white;
}

main {
  position: absolute;
  left: -5000px;
  -webkit-animation: show 2s 0s forwards;
          animation: show 2s 0s forwards;
}

.position {
  text-align: center;
  background-color: #eceaea;
  padding: 1rem;
  margin: 0;
}
.position i {
  margin-right: 10px;
}

section {
  background-color: #f4f2f2;
}

section:first-of-type {
  text-align: center;
  padding: 3rem;
}

section:nth-child(odd) {
  background-color: white;
}

.restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}/*# sourceMappingURL=accueil.css.map */