

.meal-section{
    display: flex;
    flex-direction: column;

    .meal-section-title{
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .underline{
        height: 3px;
        width: 50px;
        background-color: $tertiary-color;
    }

    .meal-list{
        display: flex;
        flex-direction: column;
        .meal-item{
            @include animation-showing($meal-item-anim-delay);
        }
    }
    
    
}