
.menu{
    display: flex;
    flex-direction: column;

    @media screen and (min-width: map-get($breakpoints, "desktop")) {
        flex-direction: row;
        justify-content: space-between;
    }


    .meal{

        &-section{
            display: flex;
            flex-direction: column;
            @media screen and (min-width: map-get($breakpoints, "desktop")) {
                width: 30%;
            }
        
            &-title{
                font-size: 1.2rem;
                margin-bottom: 5px;
            }
        }



        &-list{
            display: flex;
            flex-direction: column;
            
        }

        &-item{
            @include animation-showing($meal-item-anim-delay);
        }
    }
    
}



