

//  LOADING-CONTAINER HIDDEN


@keyframes hidden {
    99% { position: relative; left: 0px;}
    100% { position: absolute; left: -5000px; }    
}

//  LOADING

@keyframes rotation {
     to {transform: rotate(4turn);}
 }

 // CHANGEMENT DE LA COULEUR DE LA BORDURE DU LOADING
@keyframes changeColorBorder {
    0%{
        border-right-color: $secondary-color;
        border-bottom-color: $secondary-color;
        border-left-color: $secondary-color;
    }

    33%{
        border-right-color: $primary-color;
        border-bottom-color: $primary-color;
        border-left-color: $primary-color;
    }
    66%{
        border-right-color: $secondary-color;
        border-bottom-color: $secondary-color;
        border-left-color: $secondary-color;
    }

    100%{
        border-right-color: $primary-color;
        border-bottom-color: $primary-color;
        border-left-color: $primary-color;
    }
}




//  APPARITION DES MEAL-ITEM
@keyframes showing {
    to {
        top: 0;
        opacity: 1;
    }
    
}


//  APPARITION DU MAIN DE LA PAGE D'ACCUEIL UNE FOIS LE LOADING TERMINÉ
@keyframes show {    
    99%{
        position: absolute;
    } 
    100% {
        position: static;
    }
    
}


// élargissement de la barre sous REPAS PLAT DESSERT

@keyframes showUnderline {
    to {transform: scaleX(1);}
}


// appartition progressive du couleur remplie pour les cards restaurants
@keyframes showHeartGradually {
    from{ opacity: 0;}
    to { opacity: 1;}
   /*from{ background: linear-gradient(to top, $secondary-color 0%, $primary-color 0%, transparent);}
   to{ background: linear-gradient(to top, $secondary-color, $primary-color 100%);}*/
    
}

