.heart{
    background-color: transparent;
    border: none;
    padding: 0;

    &--small{
        font-size: 1.5rem;
        position: absolute;
        bottom: 30px;
        right: 10px;
    }

    &--big{
        font-size: 2rem;
        position: relative;
        
    }

    

    .fas{// FULL HEART
        display: flex;
        position: absolute;
        top: 4%;
        opacity: 0;
        transition: all $transition-duration-long; 

    }

    .far{// EMPTY HEART
        opacity: 1;
    }

    &:hover{
        transform-origin: bottom;

        .fas{
            display: flex;
            background: linear-gradient(to top, $secondary-color, $primary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color : transparent;
            opacity: 1;
        }
    }

    
}