



.loading-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    flex: 1;
    background-color: white;
    overflow: hidden;
    transform-origin: top;
    animation: hidden $loading-duration 0s forwards;

    p{
        font-size: 2rem;
        color: $primary-color;
    }

    .loading{
        width: 5rem;
        height: 5rem;
        border: 5px solid;
        border-top-color: transparent;
        border-right-color: $secondary-color;
        border-bottom-color: $secondary-color;
        border-left-color: $secondary-color;
        border-radius: 50%;

        animation: rotation 4s 0s linear , changeColorBorder 3s 0s linear;
    }
}
