

.loading-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    background-color: white;
    padding-top: 200px;
    overflow: hidden;
    transform-origin: top;
    animation: hidden 3s 0s forwards;

    .loading{
        width: 3rem;
        height: 3rem;
        border: 3px solid;
        border-top-color: transparent;
        border-right-color: $primary-color;
        border-bottom-color: $primary-color;
        border-left-color: $primary-color;
        border-radius: 50%;

        animation: rotation 1s 0s linear 4;
    }
}
