


.meal-item{
    display: flex;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    margin: 10px 0;
    //animation
    position: relative;
    top: 30px;
    opacity: 0;
    //animation: showing 1.5s linear 0.5s forwards;
   

    .meal-item-container{
        flex: 1;
        padding: 0.8rem 0.5rem;

        .meal-item-title{
            font-size: 1.2rem;
            font-weight: bold;
            margin: 5px 0;
        }

        .meal-item-description{
            display: flex;
            flex-direction: row;
            align-items: center;

            p{
                margin: 0;

                &:first-child{
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 20px;
                    /*white-space: nowrap;*/
                }
            }
        }
    }


    i{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0%;
        background-color: $tertiary-color;
        color: white;
        transition: all $transition-duration;

        
    }


    &:hover i{
       width: 15%;
    }

}