

.restaurant{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    margin-bottom: 20px;
    background-color: white;

    @media screen and (min-width: map-get($breakpoints, "mobile-landscape")) {
        width: 45%;
    }

    @media screen and (min-width: map-get($breakpoints, "desktop")) {
        width: 30%;
    }

    @media screen and (min-width: map-get($breakpoints, "desktop-wide")) {
        width: 23%;
    }


    & a{
        width: 100%;
        height: 100%;


        & img{
            width: 100%;
            height: 150px;
            object-fit: cover;
            object-position: bottom;
        }

        & .description{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 15px 10px;

            & div{
                display: flex;
                flex-direction: column;

                .description-title{
                    font-weight: bold;
                }

                & p, h3{
                    margin: 2px;

                }


            }


            & .icons{
                font-size: 1.5rem;
                //padding-right: 10px;
                //margin: 0;
                //  modif en button
                background-color: transparent;
                border: none;
                padding: 0;
                margin-right: 10px;
            

                & .fas{
                    display: none;
                    

                }

                &:hover{
                    & .fas{
                        display: inline;
                        background: linear-gradient(to top, $secondary-color, $primary-color);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color : transparent;
                    }

                    & .far{
                        display: none;
                    }
                }
            }
        }
    }


    & .etiquette{
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: $tertiary-color;
        font-weight: bold;
        padding: 0.5em 1em;
        font-size: 0.7em;
        color: $tertiary-color-darken;
    }
}