

.restaurant{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    margin-bottom: 20px;


    & a{
        width: 100%;
        height: 100%;


        & img{
            width: 100%;
            height: 150px;
            object-fit: cover;
            object-position: bottom;
        }

        & .description{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 15px 10px;

            & div{
                display: flex;
                flex-direction: column;

                & p, h3{
                    margin: 2px;

                }


            }

            /*& > p{
                background-clip: text;
            }*/

            & .icons{
                font-size: 1.5rem;
                padding-right: 10px;
                margin: 0;
            

                & .fas{
                    display: none;
                    

                }

                &:hover{
                    & .fas{
                        display: inline;
                        background: linear-gradient(to top, $secondary-color, $primary-color);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color : transparent;
                    }

                    & .far{
                        display: none;
                    }
                }
            }
        }
    }


    & .etiquette{
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: $tertiary-color;
        font-weight: bold;
        padding: 0.5em 1em;
        font-size: 0.7em;
        color: $tertiary-color-darken;
    }
}