@use "sass:map";

.step-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    @media screen and (min-width : map.get($breakpoints, tablette)) {
        
        .step:nth-child(2){
            align-self: center;
        }

        .step:first-child{
            align-self: flex-start;
        }
    }

    .step{
        width: calc(100% - 0.5rem);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $light-grey;
        border-radius: 30px;        
        padding: 2rem 0;
        margin: 10px 0;
        transition: background-color $transition-duration;

        @media screen and (min-width : map.get($breakpoints, tablette)){
            width: 40%;
        }
    
        p{
    
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            position: relative;
            left: -0.5rem;
    
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                color: white;
                background-color: $primary-color;
            }
    
            i {
                margin: 0 1rem;
                color: gray;
                transition: color $transition-duration;
            }
        }
    
        &:hover{
            background-color: $primary-color-light;

            i{
                color: $primary-color;
            }
        }
    }

}
