
*{
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: $font-text;
    color: $black;
}

main{
    width: 100%;
}

h1, h2, h3{
    font-family: $font-title;
    font-weight: lighter;
}


section{
    display: flex;
    flex-direction: column;
    padding: 1em;
}


strong{
    font-weight: bold;
}




.card{
    box-shadow: 1px 5px 5px lightgrey;
}


a, a:visited{
    text-decoration: none;
    color: $black;
}
