

main{

    & > img{
        width: 100%;
    }


    section{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        top: -60px;
        background-color: $light-grey;

        & > div:first-of-type{
            display: flex;
            align-items: center;
            justify-content: space-between;

            & i {
                font-size: 1.8rem;
            }
        }
    }
}